@media screen and (max-width: 600px) {
    
/* 
    header{
        height:3vh;
        display: flex;
        padding: 2px;
        align-items: center;
    }
    header li ul {
        font-size: 12px;
    }
    body{
        background: red;
    } */
  }